@font-face {
   font-family: 'Inter';
   src: url(./Inter-Black.otf) format("otf"),
        url(./Inter-Black.woff2) format("woff2");
   font-style: normal;
   font-weight: 900;
   font-display: swap;
}

@font-face {
   font-family: 'Inter';
   src: url(./Inter-Bold.otf) format("otf"),
        url(./Inter-Bold.woff2) format("woff2");
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Inter';
   src: url(./Inter-Regular.otf) format("otf"),
        url(./Inter-Regular.woff2) format("woff2");
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}