.footer {
   width: 92.5%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   height: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
   .footer {
      width: 90.625%;
   }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
   .footer {
      width: 58%;
      margin-left: 16px;
      flex-direction: column;
      box-sizing: border-box;
   }
}